<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Servers</title>
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
  <link rel="stylesheet" href="/lib/css/auth.css">
  <link rel="stylesheet" href="/lib/css/servers.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="control-header" id="control-header">
  <h2>Controlpanel.gg</h2>
</div>

<div>
<h1 center white><br>Your Servers</h1>

<div class="server-container" style="clear: both">
  <h2 inline left><p small>NAME</p>Example</h2>
  <h2 inline flcenter><p small><i class="fas fa-ethernet"></i> CONNECTION</p>localhost:3000</h2>
  <h2 inline right><p small><i class="fas fa-memory"></i> MEMORY</p>1GB / 2GB</h2>
</div>

</div>



  

<script src="/lib/js/header.js"></script>
<script src="/lib/js/servers.js"></script>
<script src="https://kit.fontawesome.com/a59e349716.js" crossorigin="anonymous"></script>
</body>
</html>
