<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Servers</title>
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
  <link rel="stylesheet" href="/lib/css/auth.css">
  <link rel="stylesheet" href="/lib/css/servers.css">
  <link rel="stylesheet" href="/lib/css/server.css">
</head>
<body>
<div class="control-header" id="control-header">
  <h2>Controlpanel.gg</h2>
</div>

<h1 center white><br>Server Name</h1>

<div class="control-header" id="control-header">
  <button inline class="control-tab-button" active>Console</button>
<button inline class="control-tab-button">File Management</button>
<button inline class="control-tab-button">Startup</button>
<button inline class="control-tab-button">Settings</button>
</div>

<textarea class="console" right inline>
Server marked as offline.
</textarea>
<pre>




</pre>

<button inline class="control-power-button" start onclick="start()">Start</button>
<pre>
</pre>

<button inline class="control-power-button" stop onclick="stop()">Stop</button>
<pre>
</pre>

<button inline class="control-power-button" restart onclick="restart()">Restart</button>
</body>

  

<script src="/lib/js/header.js"></script>
<script src="/lib/js/server.js"></script>
</body>
</html>
