<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Out</title>
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
  <link rel="stylesheet" href="/lib/css/auth.css">

</head>
<body>

<div class="control-header" id="control-header">
  <h2>Controlpanel.gg</h2>
</div>

<form class="login">
  <h1>Sign Out</h1>
  <h2 class="alert-txt">You're about to be logged out of your account.</h2>
  <button class="signout-button">Log Out</button>
</form>
  

<script src="/lib/js/header.js"></script>
</body>
</html>
